.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
}
div > div {
  text-align: center;
}

.item1 {
  background-color: darkkhaki;
}

.item2 {
  background-color: aqua;
  grid-row: span 2;
}

.item3 {
  background-color: blueviolet;
  grid-column: 1;
  grid-row: 3 / span 2;
}

.item4 {
  background-color: green;
  grid-column: 3;
}

.item5 {
  background-color: cadetblue;
  grid-column: 3;
}

.item6 {
  background-color: crimson;
  grid-row: span 2;
  grid-column: span 2;
}


/* containerクラスのdiv要素にスタイルを適用 */

/* item〇クラスにスタイルを適用 */
