/* 6つのp要素に適用するスタイルを宣言 */
p {
    color: white;
    background-color: blue;
}
/* 6つのli要素に適用するスタイルを宣言 */
li {
    font-size: 16px;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.yellow{
    color: yellow;
}
.back-gray{
    background-color: gray;
}
.back-brown{
    background-color: brown;
}
.back-green{
    background-color: green;
}
#small{
    font-size: 12px;
}